/* body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #4ef3f368;
    overflow-x: hidden;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: rgb(255, 157, 0);
  }
  .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    font-family: "SnellBT Regular", sans-serif;
    color: #0e0d07;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 10px 30px;
    color: #000000; */
    /* text-align: center;
    text-transform: uppercase;
  } */
  
   /* .navbar-nav .nav-item:hover .nav-link {
    color: #f71602;
  } */